-- MySQL dump 10.13  Distrib 8.4.6, for Win64 (x86_64)
--
-- Host: localhost    Database: codeverse
-- ------------------------------------------------------
-- Server version	8.4.6

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `chat_messages`
--

DROP TABLE IF EXISTS `chat_messages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `chat_messages` (
  `id` int NOT NULL AUTO_INCREMENT,
  `workspace_id` varchar(36) NOT NULL,
  `user_id` int NOT NULL,
  `message` text NOT NULL,
  `response` text,
  `role` enum('user','assistant') NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  KEY `idx_workspace` (`workspace_id`),
  KEY `idx_created` (`created_at`),
  CONSTRAINT `chat_messages_ibfk_1` FOREIGN KEY (`workspace_id`) REFERENCES `workspaces` (`id`) ON DELETE CASCADE,
  CONSTRAINT `chat_messages_ibfk_2` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chat_messages`
--

LOCK TABLES `chat_messages` WRITE;
/*!40000 ALTER TABLE `chat_messages` DISABLE KEYS */;
/*!40000 ALTER TABLE `chat_messages` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `file_save_events`
--

DROP TABLE IF EXISTS `file_save_events`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `file_save_events` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `workspace_id` varchar(36) NOT NULL,
  `file_id` int NOT NULL,
  `user_id` int NOT NULL,
  `saved_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_save_user_date` (`user_id`,`saved_at`),
  KEY `idx_save_workspace_date` (`workspace_id`,`saved_at`),
  CONSTRAINT `file_save_events_ibfk_1` FOREIGN KEY (`workspace_id`) REFERENCES `workspaces` (`id`) ON DELETE CASCADE,
  CONSTRAINT `file_save_events_ibfk_2` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `file_save_events`
--

LOCK TABLES `file_save_events` WRITE;
/*!40000 ALTER TABLE `file_save_events` DISABLE KEYS */;
INSERT INTO `file_save_events` VALUES (1,'dc5c3fb6-1a62-4e19-a268-6acdf0c2d575',7,1,'2026-03-15 14:20:12'),(2,'dc5c3fb6-1a62-4e19-a268-6acdf0c2d575',3,1,'2026-03-17 14:33:54');
/*!40000 ALTER TABLE `file_save_events` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sessions`
--

DROP TABLE IF EXISTS `sessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sessions` (
  `id` varchar(255) NOT NULL,
  `user_id` int NOT NULL,
  `token` text NOT NULL,
  `ip_address` varchar(45) DEFAULT NULL,
  `user_agent` text,
  `expires_at` timestamp NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `last_activity` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_user` (`user_id`),
  KEY `idx_expires` (`expires_at`),
  CONSTRAINT `sessions_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sessions`
--

LOCK TABLES `sessions` WRITE;
/*!40000 ALTER TABLE `sessions` DISABLE KEYS */;
/*!40000 ALTER TABLE `sessions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_chat_messages`
--

DROP TABLE IF EXISTS `user_chat_messages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_chat_messages` (
  `id` int NOT NULL AUTO_INCREMENT,
  `workspace_id` varchar(36) NOT NULL,
  `user_id` int NOT NULL,
  `username` varchar(50) NOT NULL,
  `message` text NOT NULL,
  `timestamp` timestamp NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  KEY `idx_workspace` (`workspace_id`),
  KEY `idx_timestamp` (`timestamp`),
  CONSTRAINT `user_chat_messages_ibfk_1` FOREIGN KEY (`workspace_id`) REFERENCES `workspaces` (`id`) ON DELETE CASCADE,
  CONSTRAINT `user_chat_messages_ibfk_2` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_chat_messages`
--

LOCK TABLES `user_chat_messages` WRITE;
/*!40000 ALTER TABLE `user_chat_messages` DISABLE KEYS */;
INSERT INTO `user_chat_messages` VALUES (20,'dc5c3fb6-1a62-4e19-a268-6acdf0c2d575',1,'ishan_agr','hi team, lets begin working!','2026-03-20 03:14:54','2026-03-20 08:44:54');
/*!40000 ALTER TABLE `user_chat_messages` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_workspaces`
--

DROP TABLE IF EXISTS `user_workspaces`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_workspaces` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `workspace_id` varchar(36) NOT NULL,
  `role` enum('owner','collaborator','viewer') DEFAULT 'collaborator',
  `joined_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `last_accessed` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_user_workspace` (`user_id`,`workspace_id`),
  KEY `idx_user` (`user_id`),
  KEY `idx_workspace` (`workspace_id`),
  CONSTRAINT `user_workspaces_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `user_workspaces_ibfk_2` FOREIGN KEY (`workspace_id`) REFERENCES `workspaces` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_workspaces`
--

LOCK TABLES `user_workspaces` WRITE;
/*!40000 ALTER TABLE `user_workspaces` DISABLE KEYS */;
INSERT INTO `user_workspaces` VALUES (6,1,'dc5c3fb6-1a62-4e19-a268-6acdf0c2d575','owner','2026-02-14 16:18:24','2026-03-20 09:17:32'),(7,4,'dc5c3fb6-1a62-4e19-a268-6acdf0c2d575','collaborator','2026-02-14 17:32:21','2026-03-17 17:08:14'),(8,2,'dc5c3fb6-1a62-4e19-a268-6acdf0c2d575','collaborator','2026-02-18 18:22:00','2026-03-19 06:25:05');
/*!40000 ALTER TABLE `user_workspaces` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` int NOT NULL AUTO_INCREMENT,
  `username` varchar(50) NOT NULL,
  `email` varchar(100) NOT NULL,
  `password` varchar(255) NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES (1,'ishan_agr','ishan@gmail.com','$2b$10$gGxuedMMAJih0v5Uf1MAle8AdQmKmMZgEdv11TvLiNFBbC7ohIuy2','2026-02-09 03:57:18','2026-02-09 03:57:18'),(2,'ishan.agr1','ishan1@gmail.com','$2b$10$uPpgJlDrdAz1vqg11SXg7.K5WptBTX2TrtQeUSrGkr0WY1G0bo166','2026-02-10 14:52:50','2026-02-10 14:52:50'),(3,'Yash Rajpurohit','yash@gmail.com','$2b$10$LtLe4adph6rXXdvqPuXI/.iz2/Cp4fIUDj96F.X0.RecDrpk3UYaK','2026-02-10 15:14:58','2026-02-10 15:14:58'),(4,'ishan2','ishan2@gmail.com','$2b$10$eNGk8/zZkN8F41JLOgOt2OIY3edTa8hU4ma3a5y3sYH.Bb5x5wPhy','2026-02-12 06:13:18','2026-02-12 06:13:18');
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `workspace_files`
--

DROP TABLE IF EXISTS `workspace_files`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `workspace_files` (
  `id` int NOT NULL AUTO_INCREMENT,
  `workspace_id` varchar(36) NOT NULL,
  `name` varchar(255) NOT NULL,
  `type` enum('file','folder') NOT NULL,
  `content` longtext,
  `language` varchar(50) DEFAULT NULL,
  `parent_id` int DEFAULT NULL,
  `path` varchar(500) NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_workspace_path` (`workspace_id`,`path`(400)),
  KEY `idx_workspace` (`workspace_id`),
  KEY `idx_parent` (`parent_id`),
  KEY `idx_type` (`type`),
  CONSTRAINT `workspace_files_ibfk_1` FOREIGN KEY (`workspace_id`) REFERENCES `workspaces` (`id`) ON DELETE CASCADE,
  CONSTRAINT `workspace_files_ibfk_2` FOREIGN KEY (`parent_id`) REFERENCES `workspace_files` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `workspace_files`
--

LOCK TABLES `workspace_files` WRITE;
/*!40000 ALTER TABLE `workspace_files` DISABLE KEYS */;
INSERT INTO `workspace_files` VALUES (3,'dc5c3fb6-1a62-4e19-a268-6acdf0c2d575','hello.cpp','file','#include <iostream>\nusing namespace std;\n\nint main() {\n    cout << \"Hello World!\" << endl;\n  	cout << \"I changed and saves\" << endl;\n    return 0;\n}','python3',NULL,'hello.cpp','2026-02-14 16:25:09','2026-03-17 14:33:54');
/*!40000 ALTER TABLE `workspace_files` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `workspaces`
--

DROP TABLE IF EXISTS `workspaces`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `workspaces` (
  `id` varchar(36) NOT NULL,
  `name` varchar(100) NOT NULL,
  `description` text,
  `owner_id` int NOT NULL,
  `code` text,
  `language` varchar(20) DEFAULT 'javascript',
  `is_active` tinyint(1) DEFAULT '1',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_owner` (`owner_id`),
  KEY `idx_active` (`is_active`),
  CONSTRAINT `workspaces_ibfk_1` FOREIGN KEY (`owner_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `workspaces`
--

LOCK TABLES `workspaces` WRITE;
/*!40000 ALTER TABLE `workspaces` DISABLE KEYS */;
INSERT INTO `workspaces` VALUES ('dc5c3fb6-1a62-4e19-a268-6acdf0c2d575','CodeVerse','Collaborative code editor',1,NULL,'python',1,'2026-02-14 16:18:24','2026-02-14 16:18:24');
/*!40000 ALTER TABLE `workspaces` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-03-22 14:24:59
